@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #020202;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212628;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'en';
  src: url('/public/fonts/lang/urdu/MehrNastaliqWeb.ttf') format('ttf'),
  url('/public/fonts/lang/urdu/MehrNastaliqWeb.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .font-en {
    font-family: 'en', sans-serif;
  }
}

.arabic-surahtitle {
  font-family: "surahnames";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.arabic-verses {
  font-family: "IndoPak" !important;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IndoPak";
  src:
          local("AlQuran IndoPak by QuranWBW"),
          url("/fonts/quran/hafs/nastaleeq/indopak/indopak-nastaleeq-waqf-lazim-v4.2.1.woff2") format("woff2"),
          url("/fonts/quran/hafs/nastaleeq/indopak/indopak-nastaleeq-waqf-lazim-v4.2.1.woff") format("woff"),
          url("/fonts/quran/hafs/nastaleeq/indopak/indopak-nastaleeq-waqf-lazim-v4.2.1.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "UthmanicHafs";
  src:
          local("KFGQPC HAFS Uthmanic Script"),
          url("/fonts/quran/hafs/uthmanic_hafs/UthmanicHafs1Ver18.woff2") format("woff2"),
          url("/fonts/quran/hafs/uthmanic_hafs/UthmanicHafs1Ver18.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "surahnames";
  src:
          url("/fonts/quran/surah-names/v1/sura_names.woff2"),
          url("/fonts/quran/quran/surah-names/v1/sura_names.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*Language specific fonts*/
@font-face {
  font-family: "divehi";
  src:
          local("Dhivehi Akuru"),
          url("/fonts/lang/dhivehi/dhivehi/DhivehiAkuru.woff2"),
          url("/fonts/lang/dhivehi/dhivehi/DhivehiAkuru.woff") format("woff"),
          url("/fonts/lang/dhivehi/dhivehi/DhivehiAkuru.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "NotoNastaliq";
  src:
          local("Noto Naskh Arabic"),
          local("Nafees Regular"),
          url("/fonts/lang/arabic/NotoNaskhArabic-Regular.woff2"),
          url("/fonts/lang/arabic/NotoNaskhArabic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MehrNastaliq";
  src:
          local("Mehr Nastaliq Web"),
          url("/fonts/lang/urdu/MehrNastaliqWeb.woff2"),
          url("/fonts/lang/urdu/MehrNastaliqWeb.woff") format("woff"),
          url("/fonts/lang/urdu/MehrNastaliqWeb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
unicode-range: U+0600-06FF;
}

@font-face {
  font-family: "NotoSerifBengali";
  src: local("Noto Serif Bengali"), url("/fonts/lang/bengali/NotoSerifBengali-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "DroidArabicNaskh";
  src:
          local("Droid Arabic Naskh"),
          url("/fonts/lang/kurdish/droid-naskh-regular.woff2"),
          url("/fonts/lang/kurdish/droid-naskh-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProximaVara";
  src: local("Proxima Vara"), url("/fonts/lang/ProximaVara/ProximaVara.woff2");
  font-weight: 100 900;
  /* default 400 */
  font-stretch: 50% 100%;
  /* default 100% */
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay";
  src:
          local("Playfair Display"),
          url("/fonts/lang/PlayfairDisplay/PlayfairDisplay-Black.ttf") format("truetype");
  font-display: swap;
}

.square-thing {
  background-color: #465152;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.arabic-font-1, .arabic-font-2, .arabic-font-3 {
    font-family: "Uthmani-Hafs";
}

@font-face {
    font-family: "Uthmani-Hafs";

    src: url("/fonts/ee/uthmanic_hafs_v22.woff2") format("woff2"),
    url("/fonts/ee/uthmanic_hafs_v22.woff") format("woff");

    font-weight: normal;

    font-style: normal;

    font-display: swap;
}

.highlight-transition {
    transition: background-color 0.2s ease-in-out;
}

.arabic-verse {
    line-height: 2.5rem;
    letter-spacing: -1px;
}

.quran-word {
    transition: color 0.2s ease;
    display: inline-block;
    margin: 0 2px;
}

.quran-word:hover {
    color: #2563eb; /* blue-600 */
}

.quran-word {
    display: inline-block;
    white-space: nowrap;
    transition: color 0.2s ease;
    margin: 0 1px;
    padding: 0 2px;
    cursor: pointer;
    unicode-bidi: isolate;
}

.verse-container {
    font-size: 2rem;
    line-height: 3.5rem;
    direction: rtl;
    text-align: justify;
    word-spacing: -0.2em;
}

.quran-word:hover {
    color: #2563eb; /* blue-600 */
}

* {
    user-select: none;
    -webkit-user-select: none;
}

.quran-word {
    user-select: text;
    -webkit-user-select: text;
}