@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #020202;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212628;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'en';
  src: url('/public/fonts/lang/urdu/MehrNastaliqWeb.ttf') format('ttf'),
  url('/public/fonts/lang/urdu/MehrNastaliqWeb.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .font-en {
    font-family: 'en', sans-serif;
  }
}

.arabic-surahtitle {
  font-family: "surahnames";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.arabic-verses {
  font-family: "UthmanicHafs";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "surahnames";
  src: url("/fonts/quran/surah-names/v1/sura_names.woff2"),
  url("/fonts/quran/quran/surah-names/v1/sura_names.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UthmanicHafs";
  src: local("KFGQPC HAFS Uthmanic Script"),
  url("/fonts/quran/hafs/uthmanic_hafs/UthmanicHafs1Ver18.woff2")
  format("woff2"),
  url("/fonts/quran/hafs/uthmanic_hafs/UthmanicHafs1Ver18.ttf")
  format("truetype");
  font-display: swap;
  unicode-range: U+0600-06FF;
}


@font-face {
  font-family: "surahnames";
  src: url("/fonts/quran/surah-names/v1/sura_names.woff2"),
  url("/fonts/quran/quran/surah-names/v1/sura_names.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Arabic';
  src: url('/public/fonts/lang/arabic/NotoNaskhArabic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.square-thing {
  background-color: #465152;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
